html,
body {
    height: 100%;
    font: 16px/21px $font_normal;
}
.hidden {
  display: none !important;
}
body {
  min-width: 320px;
    background: #f6f6f6;
}
.svg-sprite {
    display: none;
}


