.blog-posts {
    display: flex;
    flex-wrap: wrap;
    &__list {
        flex: 1 1 40%;
        margin-bottom: 55px;
        &:first-child {
            margin-right: 30px;
        }
        @include desktop {
            flex: 1 1 100%;
        }
    }
    &__item {
        margin-bottom: 30px;
        break-inside: avoid-column;
        column-span: none;
    }
    &__title {
        background: $color-yellow;
        font: 21px/25px $font_normal;
        color: $color-black;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    &__sign {
        font: 11px/15px $font_normal;
        color: $color-black;
        align-self: flex-end;
    }
}