.portfolio {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            padding: 0 10px;
        }
    }
    &__header {
        font: 35px/35px $font_normal;
        color: $color-dark-grey;
        margin-bottom: 22px;
    }
    &__title {
        font: 24px/24px $font_normal;
        color: $color-dark-grey;
        margin-bottom: 64px;
    }
    &__filter-list-wrapper {
        width: 100%;
        margin-bottom: 38px;
    }
    &__filter-list {
        display: flex;
        max-width: 1395px;
        margin: 0 auto;
        align-self: flex-start;
    }
    &__filter-item {
        display: flex;
        margin-right: 1%;
        @include tablet {
            margin: 0;
        }
    }
    &__filter-link {
        padding: 15px 20px;
        font: 24px/24px $font_normal;
        color: $color-dark-grey;
        &:hover {
            background: $color-yellow;
        }
        @include tablet {
            font: 16px/16px $font_normal;
            padding: 10px 15px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @include desktop {
            justify-content: space-around;
        }
    }
    &__yellow-filter {
        position: absolute;
        top: 0;
        left: 0;
        background:  rgba(255, 234, 0, 0.5);
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        z-index: 3;
    }
    &__yellow-filter-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        flex: 1 1 30%;
        overflow: hidden;
        position: relative;
        margin: 0 20px 60px 0;
        @include desktop {
            flex: 1 1 45%;
            margin: 0 7px 20px;
        }
        @include tablet {
            flex: 1 1 90%;
        }
        &:nth-child(3n) {
            margin: 0 0 60px 0;
            @include desktop {
                margin: 0 7px 20px;
            }
        }
        &:hover {
            .portfolio__image--alternative {
                transform: translateY(0);
                transition: 0.3s;
            }
            .portfolio__yellow-filter {
                transform: translateY(0);
                transition: 0.3s 0.4s;
            }
        }
    }
    &__yellow-filter-icon {
        width: 150px;
        height: 100px;
        background-color: rgba(0,0,0,0.5);
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            width: 100px;
            height: 2px;
            background-color: $color-white;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &:after {
            width: 20px;
            height: 20px;
            border-bottom: 2px solid $color-white;
            border-right: 2px solid $color-white;
            top: 50%;
            left: 75%;
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }
    &__image {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        &--alternative {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateY(100%);
            transition: 0.3s;
        }
    }

}